<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>学习养成系统状态</title>
    <!-- 引入本地的 Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <h1>学习养成系统状态</h1>
        <div class="row">
            <div class="col-md-4">
                <p>当前等级: <span id="currentLevel">{{ current_level }}</span></p>
            </div>
            <div class="col-md-4">
                <p>当前小等级: <span id="currentSubLevel">{{ current_sub_level }}</span></p>
            </div>
            <div class="col-md-4">
                <p>当前积分: <span id="currentPoints">{{ current_points }}</span></p>
            </div>
        </div>

    </div>
    <!-- 引入 Bootstrap JS 和依赖 -->
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>